.loader {
  width: 80px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side,#FCAB1E 100%,transparent);
  background:
    var(--_g) 0    0,
    var(--_g) 100% 0,
    var(--_g) 100% 100%,
    var(--_g) 0    100%;
  background-size: 35% 35%;
  animation: l38 .5s infinite; 
}
@keyframes l38 {
  100% {background-position: 100% 0,100% 100%,0 100%,0 0}
}

.loading-page h1{
  color: black;
  background-color: #F1F4F9;
}

.BeeStackname h1{
  color: black;
  font-family: 'K2D', sans-serif;
}