.reviewbg{
    background-color: #bbd4c5;
}

.slick-slide {
  opacity: 0.7;
  transform: scale(0.9);
  transition: all 0.5s ease;
}
.slick-center {
  opacity: 1;
  transform: scale(1.05); /* reduced from 1.1 */
}

/* Mobile fix */
@media (max-width: 640px) {
  .slick-slide,
  .slick-center {
    transform: scale(1); /* No zoom on mobile */
    opacity: 1;
  }
}


/* TABLET: 2 slides */
@media (max-width: 992px) {
  .slider-track {
    grid-auto-columns: 50% !important;
  }
}

/* MOBILE: 1 slide */
@media (max-width: 768px) {
  .slider-track {
    grid-auto-columns: 100% !important;
  }
}
