.reviewbg {
  background-color: #bbd4c5;
}

/* Desktop + Tablet center effect */
.slick-slide {
  opacity: 0.7;
  transform: scale(0.9);
  transition: all 0.5s ease;
}

.slick-center {
  opacity: 1;
  transform: scale(1.05);
}

/* 📱 Mobile: no scaling, no fade */
@media (max-width: 768px) {
  .slick-slide,
  .slick-center {
    transform: scale(1);
    opacity: 1;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}
